*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.mp4
*.h264
*.exr

openh264*

_out/
_tmp/
Externals/
Library/
Temp/
Build/
Hidden/
Hidden.meta
obj/
