*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.so
*.bundle
*.dylib
*.exr
*.gif
*.png
*.mp4
*.h264
*.aac
*.webm
*.ogg
*.flac
*.wav

.vs/
_out/
_tmp/
external/
Library/
Temp/
Plugin/_build_*/

FrameCapturer/*.csproj
FrameCapturer/*.sln
FrameRecorder/
FrameRecorder.meta
