*.obj
*.pch
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.opendb
*.user
*.log
*.tlog
*.mp4
*.h264
*.exr

_out/
_tmp/
Library/
Temp/
Build/
Hidden/
Hidden.meta
_Hidden/
_Hidden.meta
obj/

openh264-*
FrameCapturer/*.csproj
FrameCapturer/*.sln

.build/
release/
debug/
dependencies/
*.dblite
excons.cache
